

<footer class="site-footer clearfix">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
         陕ICP备15015297号  
    </section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
</footer>